
<nav>
    <ul>
        <li>
            <a href="/products">List of products</a>
        </li>
    </ul>
</nav>

    <h1><%= title %></h1>
    <span><%= new Date() %></span>


<% include ('partials/footer') %>
